# ASSIGNMENT CONFIG
requirements:
solutions_pdf: false
run_tests: false
export_cell: false
generate:
    pdf: false

In [1]:
import numpy as np


<img src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202321/0045/breville-barista-express-espresso-machine-o.jpg"
     alt="Contact"
     style="display: block; margin-left: auto; margin-right: auto; width: 300px;" />

Functions in python are the block of code which only run when it is called. You can pass data, known as parameters into a functions and the function can return data as a result. 

Think of functions as a coffee maker machine, which takes some input parameters (milk and beans) and produces output (coffee).

### In-built functions

Python provides some in-built ready to use functions, for most common operations. Such as:

In [2]:
abs(-12) # returns the absolute value of the number

12

In [3]:
round(5 - 1.1) # this is same as round(3.9) and this gets rounded to the nearest integer number

4

In [4]:
max(2, 2+3, 4) # this is finding the max of the three numbers, (2, 5, 4)

5

You can notice that how we are just **calling the function**. The body of the function is hidden by python, and we can just directly use these functions to get the output.

Some of the functions are built into a package, called `module` in python. For eg: there is `math` module in python which has collection of many common mathematical functions such as square root, logarithm, etc. To use a function which is wrapped inside a module, we first have to `import` that module, and then provide a `.` followed by the name of the function we are interested in using. For eg:

In [5]:
import math
math.sqrt(4)

2.0

In this course, we will learn many of such data science modules such as pandas, numpy, matplotlib etc.

In [6]:
math.log(16, 2) # finding logarithm of 16 to the base 2. Note we only need to import a package once in the notebook

4.0

The list of all in-built functions of python can be found [here](https://docs.python.org/3/library/functions.html)

The list of all functions inside math module can be found [here](https://docs.python.org/3/library/math.html)

# BEGIN QUESTION
name: q1

### Question 1

The module `math` also provides the name `e` for the base of the natural logarithm, which is roughly 2.71. Compute $e^\pi - \pi$, giving it the name `near_twenty`. 

Note: you can access `pi` from the `math` module as well.

# BEGIN SOLUTION

In [7]:
near_twenty = math.e ** math.pi - math.pi # SOLUTION
print(near_twenty)

19.99909997918947

# END SOLUTION

# BEGIN TESTS

In [8]:
math.isclose(near_twenty, 20, abs_tol=1e-1)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2

### Question 2

Read the documentation for the in-built function `type` [here](https://docs.python.org/3/library/functions.html#type). What do you think this function returns? Test it by running the following cells.

# BEGIN SOLUTION

In [9]:
type("Hello")

str

In [10]:
myName = "Dipak Singh"
type(myName)

str

In [11]:
type(3.14)

float

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3

### Question 3

Find the absolute value of the expression $-12 * 2 + e$. Store your answer in the variable `your_ans`

Hint: Use `abs` in-built function

# BEGIN SOLUTION

In [12]:
your_ans = abs(-12 * 2 + math.e) # SOLUTION
print(your_ans)

21.281718171540955

# END SOLUTION

# BEGIN TESTS

In [13]:
math.isclose(your_ans, 21.28, abs_tol=1e-2)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q4

### Question 4

Write a python code to find the maximum value among the three expressions: $e^2, \pi, \sqrt{5.6}$. Store your answer in the variable `your_ans`

# BEGIN SOLUTION

In [14]:
your_ans = max(math.e**2, math.pi, math.sqrt(5.6)) # SOLUTION
print(your_ans)

7.3890560989306495

# END SOLUTION

# BEGIN TESTS

In [15]:
math.isclose(your_ans, 7.389, abs_tol=1e-1)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5

### Question 5

Write a python code to find the minimum value among the three expressions: $\frac{4 * 6}{5}, \sqrt{99}, 385$. Store your answer in a variable `your_ans` variable.

# BEGIN SOLUTION

In [16]:
your_ans = min((4*6)/5, math.sqrt(99), 385) # SOLUTION
print(your_ans)

4.8

# END SOLUTION

# BEGIN TESTS

In [17]:
math.isclose(your_ans, 4.8, abs_tol=0.1)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q6

### Question 6

Write a python code to calculate the expression,  $\frac{3 * log_e3}{2}$, rounded upto two decimal points. Store your answer in the variable `your_ans`. 

Hint: Use `math.log` and `round` functions

# BEGIN SOLUTION

In [18]:
expr = (3 * math.log(3)) / 2 # SOLUTION NO PROMPT
your_ans = round(expr, 2) # SOLUTION
print(your_ans)

1.65

# END SOLUTION

# BEGIN TESTS

In [19]:
math.isclose(your_ans, 1.65, abs_tol=0.1)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q7

### Question 7

Write a python code to calculate the expression,  $\frac{30 - 45^2}{\pi^2}$, rounded upto three decimal points. Store your answer in the variable `your_ans`. 

Hint: Use `math.log` and `round` functions

# BEGIN SOLUTION

In [20]:
expr = (30 - 45 ** 2) / math.pi ** 2 # SOLUTION NO PROMPT
your_ans = round(expr, 3) # SOLUTION
print(your_ans)

-202.136

# END SOLUTION

# BEGIN TESTS

In [21]:
math.isclose(your_ans, -202.136, abs_tol=0.1)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q8

### Question 8

Write a python code to calculate the expression: $log_24$. Store your answer in the variable `your_ans`.

Hint: Use `math.log` function. You will have to find how to find logarithm to the base of 2 instead of natural logarithm of e. You may find this [link](https://www.w3schools.com/python/ref_math_log.asp) useful.

# BEGIN SOLUTION

In [22]:
your_ans = math.log(4, 2) # SOLUTION
print(your_ans)

2.0

# END SOLUTION

# BEGIN TESTS

In [23]:
math.isclose(your_ans, 2.0, abs_tol=0.1)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q9

### Question 9

Read the documentation for the `int` function [here](https://www.w3schools.com/python/ref_func_int.asp). What do you think this function is doing? 

Convert the following expression into `int` type. 

$ 40 - (5 * 2) / 3 $

# BEGIN SOLUTION

In [24]:
your_ans = int(40 - (5 * 2) / 3) # SOLUTION
print(your_ans)

36

# END SOLUTION

# BEGIN TESTS

In [25]:
your_ans == 36

True

In [26]:
isinstance(your_ans, int)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q10

### Question 10

Read the documentation for the `float` function [here](https://www.w3schools.com/python/ref_func_float.asp). What do you think this function is doing? 

Convert the following expression into `float` type. 

$ 40 - 5 * 2 $

# BEGIN SOLUTION

In [27]:
your_ans = float(40 - 5 * 2) # SOLUTION
print(your_ans)

30.0

In [28]:
type(your_ans)

float

# END SOLUTION

# BEGIN TESTS

In [29]:
isinstance(your_ans, float)

True

# END TESTS

# END QUESTION

### How to define a function? 

To define a function in python, we must use the keyword `def` in front of the function name. 

Let's define a function which returns the double of a number that it takes as an input.

`def double(x):`

Here, `double` is the name of the function. 

A function can take zero or more inputs. In the function definition above, the function is taking one input parameter, named, `x`

> Every function definition ends with a color `:` symbol

Eg: Define a function which takes two inputs. <br>
`def add(x, y):`

Eg: Define a function which takes no input <br>
`def foo():`

Just like a coffee machine after taking those inputs, processes them and produce some output, similarly, a functions uses those input to produce some output. 

Let's write the body of the function which takes the input `x` and produces the double of that number as an output.

In [30]:
def double(x):
    result = x * 2
    return result

1. Notice how it is using the input variable `x` to perform some operation inside it to produce the result. Just like how coffee machine uses the input to process them to produce an output i.e, coffee. 
2. Just like entire instruments of a coffee maker belongs to the body of the machine. Similarly, the entire operations of a function belongs to the body of the function. All code wrapped inside the function by providing a tab space at the front of those lines includes the body of the function. For eg: the following two lines

        result = x * 2<br>
        return result <br>

    have a preceding tab space, and therefore, both of these lines belong to the body of the function. 

3. In order to use the value that is produced by the function, the function should return that value. That is why, we have a `return` keyword used at the end of the function. This means that any one who wants to use this function, will have to provide a number, and the function will return the double of that number as an output. It is possible, that a function doesn't return any output, in that case, you can chose to not have any return statement, or can have return statement but no value to return.

### Calling a function

In the above section, we learnt how to create a function. However, such function is of no use, unless we utilize it. To utilize a function, we **call a function by it's name**. 

Not only that, if the function expects some input, then we also need to provide some input value to that function, so that it can produce the desired result. Just like, in order to get the coffee, we must provide milk and beans as input and then call the machine by pressing the power on button. 

Eg: to call the function `double`, we do the following:

In [31]:
double(5)

10

As you can see the function returns the output that is double of 5. So, when 5 is passed to the function, x becomes 5 and the function returns result, which is holding the double of x, that is 10. 

Furthermore, just like you can call your coffee machine every morning, and get a fresh coffee by providing new milk and bean to it, similarly, we can call the function again and again by providing new inputs to it. 
Let's call the double function again

In [32]:
double(10)

20

In [33]:
double(385)

770

In [34]:
double(-9.5/5) # can pass expression which returns a number as input to the function

-3.8

In [35]:
some_value = 3
double(some_value) # can even pass a variable to a function input (parameter)

6

Suppose we want to store the result returned by the function so that we can use it later, to do that, we can store the result returned by the function in some variable. Like the following:

In [36]:
ans = double(10)
ans

20

This is same as when a coffee is produced by the coffee maker machine, you would need a cup to store the returned coffee by the machine, so that you can drink it later. Similarly, we are storing the value returned by the function in a variable `ans` in the above example.

### Function Arguments

Terminologies: <br>
**Parameter** : A parameter is a variable listed inside the paranthesis in the function definition<br>
**Argument**: An argument is the value that is sent to the function when it is called. 

For eg:<br>
```
def double(x):
    return 2 * x
    

double(5)
```

Here, x is the parameter and the value 5 is the argument assigned to parameter when the function is called.

By default, a function must be called with the correct number of arguments and in the same order. Meaning that if your function accepts two parameters (name and age), then you have to call the functions with 2 arguments (not more, and not less) and in the same order. 

For eg:

In [37]:
def payBill(item_name, quantity, price_per_item):
    total_cost = price_per_item * quantity
    print("The total cost of the item {} is {}".format(item_name, total_cost))

In [38]:
payBill('Diet coke', 5, 1.2)

# Note only two arguments are passed and they are in the same order as the parameter order in the function definition

The total cost of the item Diet coke is 6.0

In [39]:
payBill('Diet coke', 5, 1.2)

# Note only two arguments are passed and they are in the same order as the parameter order in the function definition

The total cost of the item Diet coke is 6.0

In [40]:
# What happens if we call the function with lesser number of arguments?

payBill('Diet coke', 5)

TypeError: payBill() missing 1 required positional argument: 'price_per_item'

In [41]:
# What happens if we keep the number of arguments same but change the order of the arguments?

payBill(5, 'Diet coke', 1.2)

TypeError: can't multiply sequence by non-int of type 'float'

### Function which takes no parameters and return no values

# BEGIN QUESTION
name: q11

### Question 11

Write a python function named `printMsg` and print your byline `Programmed by <your name>` here. Don't forget to replace `<your name>` with your name.

# BEGIN SOLUTION

In [42]:
"""# BEGIN PROMPT
def ...
    print(...)
"""# END PROMPT
def printMsg(): # SOLUTION NO PROMPT
    print("Programmed by Dipak Singh") # SOLUTION NO PROMPT

# END SOLUTION

# BEGIN SOLUTION

Now call the function to print the message.

In [43]:
printMsg() # Calling the function

Programmed by Dipak Singh

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q12

### Question 12
Write a python function named `add_2_5` and print the sum of the numbers 2 and 5. Let python do the addition, you shouldn't add 2 and 5 by yourself.

# BEGIN SOLUTION

In [44]:
"""# BEGIN PROMPT
... add_2_5:
    ...
"""# END PROMPT
def add_2_5(): # SOLUTION NO PROMPT
    print(2 + 5) # SOLUTION NO PROMPT

# END SOLUTION

Now call the function to print the result.

# BEGIN SOLUTION

In [45]:
add_2_5() # SOLUTION

7

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q13

### Question 13
Write a python function named `findMsgSize` to print the number of characters in a string, `Hello, how are you?`. 

Hint: Use `len` in-built python function

# BEGIN SOLUTION

In [46]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def findMsgSize(): # SOLUTION NO PROMPT
    size = len("Hello, how are you?") # SOLUTION NO PROMPT
    print(size) # SOLUTION NO PROMPT

# END SOLUTION

Now call the function to print the result. It should print 19

# BEGIN SOLUTION

In [47]:
findMsgSize() # SOLUTION

19

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q14

### Question 14
Write a python function named `isOdd` to print 1 if the number `485` is odd, else print 0. 

Hint: Use `modulo` operator

# BEGIN SOLUTION

In [48]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def isOdd(): # SOLUTION NO PROMPT
    result = 485 % 2 # SOLUTION NO PROMPT
    print(result) # SOLUTION NO PROMPT

# END SOLUTION

Now call the function to print the result. It should print 1.

# BEGIN SOLUTION

In [49]:
isOdd() # SOLUTION

1

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q15

### Question 15
Write a python function named `findMax` to print the maximum of the numbers, `45, 943, 96`

Hint: Use `max` in-built function

# BEGIN SOLUTION

In [50]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def findMax(): # SOLUTION NO PROMPT
    result = max(45, 943, 96) # SOLUTION NO PROMPT
    print(result) # SOLUTION NO PROMPT

# END SOLUTION

Now call the function to print the result. It should print 943.

# BEGIN SOLUTION

In [51]:
findMax() # SOLUTION

943

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

### Function which takes no parameters and return a value

# BEGIN QUESTION
name: q16

### Question 16
Write a python function named `convertToUpper` which converts the name `Dipak Singh` in all UPPERCASE letters and returns it. Store the returned value in a variable `name_in_caps`. 

Hint: Do not convert the name to uppercase by yourself, rely on the function `String.upper` to do this. You can read [here](https://www.w3schools.com/python/ref_string_upper.asp) to see how to do it.

# BEGIN SOLUTION

In [52]:
"""# BEGIN PROMPT
...
    ...
    return ...
"""# END PROMPT
def convertToUpper(): # SOLUTION NO PROMPT
    name = "Dipak Singh" # SOLUTION NO PROMPT
    result = name.upper() # SOLUTION NO PROMPT
    return result  # SOLUTION NO PROMPT

# END SOLUTION

Now call the function.

# BEGIN SOLUTION

In [53]:
name_in_caps = convertToUpper() # SOLUTION
print(name_in_caps)

DIPAK SINGH

# END SOLUTION

# BEGIN TESTS

In [54]:
name_in_caps == "DIPAK SINGH"

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q17

### Question 17
Write a python function named `generateRandomNum` which returns a random 5 digit number. Store the returned value in a variable `randNum`. 

Hint: Use `random.randint` function. You may read [here](https://www.w3schools.com/python/ref_random_randint.asp)

# BEGIN SOLUTION

In [55]:
import random # It's important to import the module first

"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def generateRandomNum(): # SOLUTION NO PROMPT
    result = random.randint(10000, 99999) # SOLUTION NO PROMPT
    return result  # SOLUTION NO PROMPT

# END SOLUTION

Now call the function.

# BEGIN SOLUTION

In [56]:
randNum = generateRandomNum() # SOLUTION
print(randNum)

95252

# END SOLUTION

# BEGIN TESTS

In [57]:
10000 <= randNum <= 99999

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q18

### Question 18

Write a python function named `countLetters` that returns the total number of characters in the string, `Hello, how are you?`. Store the  result in the variable `msgSize`.

# BEGIN SOLUTION

In [58]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def countLetters(): # SOLUTION NO PROMPT
    msg = "Hello, how are you?" # SOLUTION NO PROMPT
    result = len(msg) # SOLUTION NO PROMPT
    return result  # SOLUTION NO PROMPT

# END SOLUTION

Now call the function.

# BEGIN SOLUTION

In [59]:
msgSize = countLetters() # SOLUTION
print(msgSize)

19

# END SOLUTION

# BEGIN TESTS

In [60]:
msgSize == 19

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q19

### Question 19
Write a python function named `findMax` that returns the maximum of four numbers, 45, 92, 25, 39. Store the result in a variable `maxNum`.

# BEGIN SOLUTION

In [61]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def findMax(): # SOLUTION NO PROMPT
    result = max(45, 92, 25, 39) # SOLUTION NO PROMPT
    return result  # SOLUTION NO PROMPT

# END SOLUTION

Now call the function.

# BEGIN SOLUTION

In [62]:
maxNum = findMax() # SOLUTION
print(maxNum)

92

# END SOLUTION

# BEGIN TESTS

In [63]:
maxNum == 92

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q20

### Question 20
Write a python function named `findLog` that returns the natural logarithm of 10. Store the result in a variable `log_val`.

# BEGIN SOLUTION

In [64]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def findLog(): # SOLUTION NO PROMPT
    result = math.log(10) # SOLUTION NO PROMPT
    return result  # SOLUTION NO PROMPT

# END SOLUTION

Now call the function.

# BEGIN SOLUTION

In [65]:
log_val = findLog() # SOLUTION
print(log_val)

2.302585092994046

# END SOLUTION

# BEGIN TESTS

In [66]:
math.isclose(log_val, 2.302, abs_tol=0.1)

True

# END TESTS

# END QUESTION

### Function which takes parameters and return no values.

# BEGIN QUESTION
name: q21

### Question 21

Write a python function named `displayName` which when passed a name will print `Hello` and their name. 

For eg: If I pass my name to the function, it should display `Hello Dipak`.

# BEGIN SOLUTION

In [67]:
"""# BEGIN PROMPT
def displayName(...):
    print(...)
"""# END PROMPT
def displayName(name): # SOLUTION NO PROMPT
    print("Hello " + name) # SOLUTION NO PROMPT

# END SOLUTION

Now call the function, by passing your name as the argument.

# BEGIN SOLUTION

In [68]:
displayName("Dipak") # SOLUTION

Hello Dipak

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q22

### Question 22

Write a python function named `isEven` when passed an integer will print 0 if it's even and 1 otherwise. 

Note: Do NOT use if-else statement.

# BEGIN SOLUTION

In [69]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def isEven(num): # SOLUTION NO PROMPT
    result = num % 2 # SOLUTION NO PROMPT
    print(result)  # SOLUTION NO PROMPT

# END SOLUTION

Now call the function with any integer number passed to it.

# BEGIN SOLUTION

In [70]:
isEven(51) # SOLUTION

1

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q23

### Question 23

Write a python function named `findSum` that takes three numbers and displays the sum of them.

# BEGIN SOLUTION

In [71]:
"""# BEGIN PROMPT
... findSum(..., ..., ...):
    ...
"""# END PROMPT
def findSum(num1, num2, num3): # SOLUTION NO PROMPT
    result = num1 + num2 + num3 # SOLUTION NO PROMPT
    print(result)  # SOLUTION NO PROMPT

# END SOLUTION

Now call the function appropriately.

# BEGIN SOLUTION

In [72]:
findSum(1, 1, 1) # SOLUTION

3

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q24

### Question 24
Write a python function named `calcTip` when passed a dollar amount (float) for a restaurant bill, calculates and displays the amount for a 20% tip, rounded upto two decimal points.

# BEGIN SOLUTION

In [73]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def calcTip(bill): # SOLUTION NO PROMPT
    result = 0.20 * bill # SOLUTION NO PROMPT
    print(round(result, 2))  # SOLUTION NO PROMPT

# END SOLUTION

Now call the function appropriately for a bill of `$100.53`. Your function should display 20.11

# BEGIN SOLUTION

In [74]:
calcTip(100.53) # SOLUTION

20.11

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q25

### Question 25
Write a python function named `displayName` when passed your name, prints the name in all uppercase.

# BEGIN SOLUTION

In [75]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def displayName(name): # SOLUTION NO PROMPT
    result = name.upper() # SOLUTION NO PROMPT
    print(result)  # SOLUTION NO PROMPT

# END SOLUTION

Now call the function with your name.

# BEGIN SOLUTION

In [76]:
displayName("Dipak") # SOLUTION

DIPAK

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

### Function which takes parameters and return a value

# BEGIN QUESTION
name: q26

### Question 26
Write a function, `calculateBudget`,  that takes three input parameters; an annual federal budget of any year (in million dollars), the annual rate of increase of the budget (in decimal points), and the number of years, and returns the annual budget after that many years (in million dollars), rounded upto two decimal points. 

Use the following formula:
$$new\_value = old\_value * (1 + rate) ^ {time}$$    

Call your function with annual budget of 2.37 (in million dollars), 5% annual rate (0.05 when converted to decimal form), number of years to be 10, and store your answer in the variable `your_ans`

# BEGIN SOLUTION

In [77]:
"""# BEGIN PROMPT
... calculateBudget(... , ... , ...):
    new_budget = ...
    return ...
"""# END PROMPT
def calculateBudget(old_value, rate, time): # SOLUTION NO PROMPT
    new_value = old_value * (1 + rate) ** time # SOLUTION NO PROMPT
    return round(new_value, 2) # SOLUTION NO PROMPT

In [78]:
your_ans = calculateBudget(2.37, 0.05, 10) # SOLUTION
print(your_ans)

3.86

# END SOLUTION

# BEGIN TESTS

In [79]:
math.isclose(your_ans, 3.86, abs_tol=0.1)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q27

### Question 27
Write a function, `findMax` which takes three numbers as input, and returns the maximum of those numbers. 

Call your function with any three numbers, and store the result in the variable `max_num`.

# BEGIN SOLUTION

In [80]:
"""# BEGIN PROMPT
def findMax(... , ... , ...):
    ...
"""# END PROMPT
def findMax(num1, num2, num3): # SOLUTION NO PROMPT
    return max(num1, num2, num3) # SOLUTION NO PROMPT

In [81]:
max_num = findMax(10, 20, 3) # SOLUTION
print(max_num)

20

# END SOLUTION

# BEGIN TESTS

In [82]:
findMax(-123, 35, 59) == 59

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q28

### Question 28
Use math module, to find the euclidean distance between two points in the Cartesian cordinate system, where p1 = (5,9) and p2 = (8, 1). Here $x_1$ is 5, $x_2$ is 8, $y_1$ is 9 and $y_2$ is 1. 

Note your function, `calculate_distance` will take four parameters, x1, x2, y1 and y2 and will return the euclidean distance as the output, rounded upto two decimal points. 

$$ Distance = \sqrt {(x_1 - x_2) ^ 2 + (y_1 - y_2) ^ 2}$$

Your result should be stored in a variable, `distance`

# BEGIN SOLUTION

In [83]:
import math
"""# BEGIN PROMPT
def calculate_distance(x1, y1, x2, y2):
    euclidean_distance = ...
    return ...
"""# END PROMPT
def calculate_distance(x1, y1, x2, y2): # SOLUTION NO PROMPT
    euclidean_distance = math.sqrt((x1 - x2) ** 2 + (y1 - y2) ** 2) # SOLUTION NO PROMPT
    return round(euclidean_distance, 2) # SOLUTION NO PROMPT

# END SOLUTION

Now call the function with the cordinates of p1 and p2.

# BEGIN SOLUTION

In [84]:
distance = calculate_distance(5, 9, 8, 1) # SOLUTION
print(distance)

8.54

# END SOLUTION

# BEGIN TESTS

In [85]:
math.isclose(distance, 8.54, abs_tol=0.1)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q29

### Question 29

Suppose you have two points A($x_1, y_1$) and B($x_2, y_2$) in a 2D (two-dimensional) plane, and you also have a third point C($x_3, y_3$). Write a python function `findMinDist` to find the minimum (euclidean) distance between point C and either of the points A or B. 

Hint: You do NOT need to write the code to calculate the euclidean distance again. Since you have already written a function which returns euclidean distance in Question 28, use this function to calculate the distance of C with A and B, and then return the minimum of those two.

# BEGIN SOLUTION

In [86]:
"""# BEGIN PROMPT
def findMinDist(x1, y1, x2, y2, x3, y3):
    return ...
"""# END PROMPT
def findMinDist(x1, y1, x2, y2, x3, y3): # SOLUTION NO PROMPT
    C_to_A = calculate_distance(x1, y1, x3, y3) # SOLUTION NO PROMPT
    C_to_B = calculate_distance(x2, y2, x3, y3) # SOLUTION NO PROMPT
    return min(C_to_A, C_to_B) # SOLUTION NO PROMPT

In [87]:
min_dist = findMinDist(1, 2, 4, 6, 3, 3)
print(min_dist)

2.24

# END SOLUTION

# BEGIN TESTS

In [88]:
math.isclose(min_dist, 2.24, abs_tol=0.1)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q30

### Question 30
Write a python function `findLongestString` which takes two strings of any length, and returns `True` if the first string is largest than the other and `False` otherwise. 

Do NOT use if-else statement.

# BEGIN SOLUTION

In [89]:
"""# BEGIN PROMPT
...
    ...
"""# END PROMPT
def findLongestString(str1, str2): # SOLUTION NO PROMPT
    return len(str1) > len(str2) # SOLUTION NO PROMPT

# END SOLUTION

Now call the function

# BEGIN SOLUTION

In [90]:
isFirstLargest = findLongestString("Hello", "how are you?") # SOLUTION
isFirstLargest

False

# END SOLUTION

# BEGIN TESTS

In [91]:
findLongestString("Hello", "how are you?") == False

True

# END TESTS

# END QUESTION

### Keyword Arguments (kwargs)

You can also send arguments with the **key = value** syntax. <br>
Key is an identifier that points to a value. 
For instance, think of the example of an english word in a dictionary, where a key is the word and the value is the definition of the word.<br>
or, a value which contains SSN id (as key) and the person info (as value)

**This way the order of arguments does not matter**

In [92]:
# Consider the double function

def double(x):
    return 2 * x

In [93]:
# We learnt to call this function as follow:
double(5)

10

In [94]:
# We could have called the function as key = value syntax; where key is the parameter and value is the argument
double(x = 5)

10

# BEGIN QUESTION
name: q31

### Question 31
Call the function, `payBill` as written earlier (see Function Arguments topic) in key = value syntax with values` Diet coke, 5, 1.2` as input parameters respectively.

# BEGIN SOLUTION

In [95]:
"""# BEGIN PROMPT
payBill(... = ... , ... = ... , ... = ...)
"""# END PROMPT
payBill(item_name = "Diet coke", quantity = 5, price_per_item = 1.2) # SOLUTION NO PROMPT

The total cost of the item Diet coke is 6.0

# END SOLUTION

Now change the order of the key=value sequence in the arguments of the function. 
You shouldn't get any error this time by changing the order. 

Try it out!

# BEGIN SOLUTION

In [96]:
payBill(quantity = 5, price_per_item = 1.2, item_name = "Diet coke") # SOLUTION

The total cost of the item Diet coke is 6.0

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

### Default Parameter Value

We can provide default value to the parameter when writing a function definition. <br>
If we call the function without argument, it uses the default value. 

For eg:

In [97]:
def double(x=5):
    return 2 * x

In [98]:
# Let's call the function by not providing any value to x. 
double()

10

In [99]:
# Let's call the function without key = value syntax
double(10)

20

In [100]:
# Let's call the function with key = value syntax
double(x=20)

40

# BEGIN QUESTION
name: q32

### Question 32

Rewrite the function `calculateBudget` (as defined in Question 26) and pass default values 2.37, 0.05 and 10 to the function definition.

CASE 1. Call the function without any arguments; it will use default values<br>
CASE 2. Call the function with values 100, 0.05, 20 passed to it<br>
CASE 3. Call the function with values 100, 0.05, 20 passed to it in key = value syntax<br>

# BEGIN SOLUTION

In [101]:
"""# BEGIN PROMPT
def calculateBudget(... = ... , ... = ... , ... = ...):
    new_value = old_value * (1 + rate) ** time 
    return round(new_value, 2) 
"""# END PROMPT
def calculateBudget(old_value = 2.37, rate = 0.05, time = 10): # SOLUTION NO PROMPT
    new_value = old_value * (1 + rate) ** time # SOLUTION NO PROMPT
    return round(new_value, 2) # SOLUTION NO PROMPT

# END SOLUTION

Now call the function using different ways:

# BEGIN SOLUTION

In [102]:
# Using CASE 1:
calculateBudget() # SOLUTION

3.86

In [103]:
# Using CASE 2:
"""# BEGIN PROMPT
calculateBudget(... , ... , ...) # CASE2
"""# END PROMPT
calculateBudget(100, 0.05, 20) # SOLUTION NO PROMPT

265.33

In [104]:
# Using CASE 3:
"""# BEGIN PROMPT
calculateBudget(... = ... , ... = ... , ... = ...) # CASE3
"""# END PROMPT
calculateBudget(old_value = 100, rate = 0.05, time = 20) # SOLUTION NO PROMPT

265.33

# END SOLUTION

# BEGIN TESTS

In [105]:
math.isclose(calculateBudget(100, 0.05, 20), 265.33, abs_tol=0.1)

True

# END TESTS

# END QUESTION