In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("MergeTables.ipynb")

In [ ]:
import pandas as pd
import numpy as np

# <span style="color:red">Merging Tables</span>

When making data-driven decisions, we often need information from various sources. For example, to identify at-risk students on campus, we'd analyze data from platforms like Brightspace, course registration, dining, AARC, and personal records. The Pandas library offers several methods to compare and merge these different dataframes, aiding in the analysis.

### Concatenate two dataframes together (vertically)

Pandas `concat` method simply concatenates two dataframes together.

In [ ]:
df1 = pd.DataFrame({'Name': ['Kevin', 'Tyler', 'Kyla', 'Josh'],
                   'Age': [22, 35, 21, 50]},
                  index=[0, 1, 2, 3])
df1

In [ ]:
df2 = pd.DataFrame({'Name': ['Justin', 'Jacob', 'Ben', 'Hector'],
                   'Age': [20, 15, 44, 9]}, 
                  index = [4, 5, 6, 7])
df2

In [ ]:
df3 = pd.concat([df1, df2]) # Try to run the code by removing the index parameter from the df1 and df2; and see the difference
df3

### Concatenate two dataframes together (horizontally)

In [ ]:
df4 = pd.DataFrame({'Name': ['Cynthia', 'Ben', 'Emily', 'Hector'],
                   'City': ['Houston', 'Dallas', 'New York', 'Seattle']}, 
                  index = [8, 6, 9, 7])
df4

In [ ]:
pd.concat([df3, df4], axis='columns')

In [ ]:
pd.concat([df3, df4], axis='columns', join='inner')

In [ ]:
df1 = pd.DataFrame({'Name': ['Kevin', 'Cynthia', 'Hector', 'Justin'],
                       'Dept': ['CS', 'Math', 'Math', 'Business']})

df1

In [ ]:
df2 = pd.DataFrame({'Gpa': [2.9, 3.3, 3.9, 2.2],
                       'City': ['Houston', 'Dallas', 'Seattle', 'Austin']})

df2

In [ ]:
pd.concat([df1, df2], axis='columns')

### Merging tables

#### Performing cartesian product of rows of two tables

A cartesian product joins each row of left table with every rows of right table. The resulant table will have n1 * n2 rows, where n1 and n2 are the number of rows in left and right table respectively.

In [ ]:
left = pd.DataFrame({'SID': [111, 222, 111, 333],
                    'Name': ['Kelly', 'John', 'Kelly', 'Megan'],
                    'Course': ['CSCI1302', 'MTH1304', 'CSCI1462', 'CSCI1462']})

right = pd.DataFrame({'EID': ['XY03', 'ZZ02', 'FF02', 'YYY2'],
                    'Name': ['Kelly', 'Ben', 'John', 'Max'],
                    'Designation': ['Manager', 'CEO', 'HRManager', 'Developer']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, how='cross')

<img src="https://www.ionos.fr/digitalguide/fileadmin/DigitalGuide/Screenshots_2019/sql-outer-join.png" width=500 />

### Performing inner join between rows of tables

Inner join select rows from both the tables that have matching keys in both the tables.

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, how='inner', on='Name')

### Performing outer join between rows of tables

The outer join returns all the rows from both the tables when there is a match between the keys (like inner join). Moreover,  if there are rows in one table that do not have matches in the other, those rows will also be listed, with missing(NaN) values in the columns from the table without a match.

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, how='outer', on='Name')

### Performing left join between rows of tables

The left join returns all the rows from the left table and the matching rows from the right table. Moreover,  if there are rows in left table that do not have matches in the right, those rows will also be listed, with missing(NaN) values in the columns from the right table without a match.

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, how='left', on='Name')

### Performing right join between rows of tables

The right join returns all the rows from the right table and the matching rows from the left table. Moreover,  if there are rows in right table that do not have matches in the left, those rows will also be listed, with missing(NaN) values in the columns from the left table without a match.

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, how='right', on='Name')

In [ ]:
left = pd.DataFrame({'Id': [100, 200, 300],
                    'FirstName': ['Mary', 'Vincent', 'Jack'],
                    'LastName': ['Dufrene', 'Robin', 'Sparrow']})

right = pd.DataFrame({'FirstName': ['Jack', 'Mary', 'Vincent', 'Jack'],
                      'LastName' : ['Sullivan', 'Dufrene', 'Morgan', 'Sparrow'],
                      'City': ['Nacogdoches', 'Houston', 'Dallas', 'Houston']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, how='inner', on='FirstName')

### Question 1

A table named `mealSwipes` contains a row for each time a student swipe meals during the month of Oct, Nov and Dec. The table contains four columns: 
- Email: a string, the email address of the student
- Department: a string, the department that the student belongs to
- Meal Swipes: an int, the number of meal swipes per month
- Month: a string, the month in which the student swiped for the meals

A second table `roster` contains a row for each student enrolled at SFA. It has two columns: 
- Email: a string, the email address of the student
- Name: a string, the first name of the student

Note: Every student has one unique email address, but two students might have the same name. 

Write python code to answer the following questions:

In [ ]:
mealSwipes = pd.read_csv('data/mealSwipes.csv')
mealSwipes.head(3)

In [ ]:
roster = pd.read_csv('data/roster.csv')
roster.head(3)

### Question 1(a) 
The largest number of meal swipes made by any student. Store your result in `your_ans`. 

Hint: Use numpy `max` method

In [ ]:
your_ans = np.max(mealSwipes['MealSwipes'])
your_ans

In [ ]:
grader.check("q1(a)")

### Question 1(b)

The department that appears most often in the `mealSwipes` table. Store your result in the variable `your_ans`.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1(b)")

### Question 1(c)

The total number of meal swipes for the month of November for students belonging to the department of `CompSci`, `Chemistry` and `Mathematics`.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1(c)")

### Question 1(d)

The name of the student who had most meal swipes across all three months. (Assume no ties; i.e, no two students have the most swipes)

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1(d)")