# ASSIGNMENT CONFIG
requirements:
files:
    - data
solutions_pdf: false
run_tests: false
export_cell: false
generate:
    pdf: false

In [2]:
import pandas as pd
import numpy as np

**Due data:  3 March by 11:59 pm**

Rubric: 
| Question | Points | 
| ---- | --- |
| 1(a) | 10 |
| 1(b) | 10 |
| 1(c) | 10 |
| 1(d) | 10 |
| 2(a) | 10 |
| 2(b) | 10 |
| 2(c) | 10 |
| 2(d) | 10 |
| 2(e) | 10 |
| 2(f) | 10 |
| Total | 100 |

Instructions: 

1. Please upload your notebook (.ipynb) file to D2L under HW >> HW2 Dropbox.
2. The homework assignment is meant to be completed individually. Do not share or copy code with others, as violations will result in consequences outlined in the syllabus.
3. Passing the autograder test does not guarantee that your answer is correct. Be sure to answer questions carefully, as the instructor has additional hidden tests. Full points will only be awarded if your answers pass these tests during grading.
4. If you encounter any difficulties, don't hesitate to contact me for assistance.

Objectives: To practice and learn about the following topics:
1. Numpy
2. Tables

# 1. Numpy

A numpy array of integers, named `gotham` contains the rough population of the Gotham city for every 10 years from 1900 to 2020. It has total 13 items. 

```
array([305500, 393300, ..., 25241897, 29217653])
```

Write a python code to answer the following:

# BEGIN QUESTION
name: q1(a)
manual: true

### Question 1(a)

What is the population in the year 2000?

# BEGIN SOLUTION

gotham[10]

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q1(b)
manual: true

### Question 1(b)

The population change from 1930 to 1950. You should only show the change, expressed as number of persons. (Not as proportion or percentage change). 

That is, population change from 1930 to 1950 will be the `population in 1950 - population in 1930`.

# BEGIN SOLUTION

gotham[5] - gotham[3]

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q1(c)
manual: true

### Question 1(c)

Find if the population ever increased by less than 500,000 in a decade. 

Note: Your answer should contain python expression which returns true or false. (Do not write True or False directly by yourself)

Hint: Use `np.diff` method

# BEGIN SOLUTION

```
population_change =  np.diff(gotham)
less_than_500000 = (population_change < 500000)
has_increased = (population_change > 0)
both_cond = np.logical_and(less_than_500000, has_increased)
np.sum(both_cond) > 0
```

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q1(d)
manual: true

### Question 1(d)

Find the number of items in `gotham` that are atleast twice as large as the population in 1950.

# BEGIN SOLUTION

np.sum(gotham > 2 * gotham[5])

# END SOLUTION

# BEGIN TESTS

# END TESTS

# END QUESTION

# 2. Tables

### Question 2

A table named `instructor` contains one row for each SFA faculty member and these columns:
- **Dept**: a string, the department of the faculty member
- **Name**: a string, the first name fo the faculty member
- **Designation**: a string, one of: Lecturer, Assitant Professor, Associate Professor, or Professor
- **Salary**: an int, last year's salary paid by the university

Write a python code to answer the following questions:

In [3]:
instructor = pd.read_csv('data/instructor.csv')
instructor.head(3)

       Dept      Name         Designation  Salary
0   History     Layla  AssistantProfessor  132109
1  EarthSci    Nathan  AssistantProfessor  114457
2   CompSci  Victoria  AssociateProfessor   65040

# BEGIN QUESTION
name: q2(a)

### Question 2(a)
The total salary amount paid to all faculty by the university last year.

# BEGIN SOLUTION

In [8]:
your_ans = np.sum(instructor['Salary']) # SOLUTION
your_ans

np.int64(53181784)

# END SOLUTION

# BEGIN TESTS

In [9]:
your_ans.item() == 53181784

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2(b)

### Question 2(b)

The name of the second highest paid faculty member. (Assume no two faculty have the same salary)

# BEGIN SOLUTION

In [10]:
your_ans = instructor.sort_values('Salary', axis=0, ascending=False).iloc[1, 1] # SOLUTION
your_ans

'Sienna'

# END SOLUTION

# BEGIN TESTS

In [11]:
your_ans == "Sienna"

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2(c)

### Question 2(c)

The name of the department that has the most lecturers. (Assume one department has more than the rest)

# BEGIN SOLUTION

In [12]:
lecturers = instructor.query('Designation == "Lecturer"') # SOLUTION NO PROMPT
grouped = lecturers[['Name', 'Dept']].groupby('Dept', as_index=False) # SOLUTION NO PROMPT
lecturers_per_dept = grouped.count() # SOLUTION NO PROMPT
lecturers_per_dept = lecturers_per_dept.rename(columns={'Name': 'Num_of_Lecturers'}) # SOLUTION NO PROMPT
sorted_lecturers_per_dept = lecturers_per_dept.sort_values('Num_of_Lecturers', axis=0, ascending=False) # SOLUTION NO PROMPT
your_ans = sorted_lecturers_per_dept.iloc[0, 0] # SOLUTION
your_ans

'History'

# END SOLUTION

# BEGIN TESTS

In [13]:
your_ans == "History"

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2(d)

### Question 2(d)

The average faculty salary after all instructors get a 10% raise in the present year. Round your answer upto two decimal points.

# BEGIN SOLUTION

In [14]:
result = np.mean(instructor['Salary'] * 1.1) # SOLUTION NO PROMPT
your_ans = np.round(result, 2) # SOLUTION
your_ans

np.float64(116999.92)

# END SOLUTION

# BEGIN TESTS

In [16]:
your_ans.item() == 116999.92

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2(e)

### Question 2(e)

Find the departments which have both Lecturers and Professors. Your answer should return a **numpy array** of departments.

# BEGIN SOLUTION

In [17]:
lecturers_dept = instructor.query('Designation == "Lecturer"') # SOLUTION NO PROMPT
professors_dept = instructor.query('Designation == "Professor"') # SOLUTION NO PROMPT
merged_depts = pd.merge(lecturers_dept['Dept'], professors_dept['Dept'], how='inner') # SOLUTION NO PROMPT
your_ans = np.unique(merged_depts) # SOLUTION
your_ans

array(['AsianStudies', 'Aviation', 'Biology', 'Business', 'Chemistry',
       'EarthSci', 'Economics', 'Education', 'English', 'ForestSci',
       'Government', 'History', 'Journalism', 'Mathematics', 'Nursing',
       'Physics', 'Psychology', 'Sociology', 'Statistics'], dtype=object)

# END SOLUTION

# BEGIN TESTS

In [18]:
your_ans.shape[0] == 19

True

In [19]:
("CompSci" not in your_ans) == True

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2(f)

### Question 2(f)

Find the absolute difference between a department's average **Lecturer** salary and its average **Professor** salary. Round the absolute differences upto two decimal points. Your answer should be a **numpy array**. 
If a department don't have both, then simply drop those departments. 

Hint: For absolute difference, look into the numpy method `absolute` online here: [np.absolute documentation](https://numpy.org/doc/stable/reference/generated/numpy.absolute.html)

# BEGIN SOLUTION

In [20]:
lecturers_dept = instructor.query('Designation == "Lecturer"') # SOLUTION NO PROMPT
grouped = lecturers_dept[['Dept', 'Salary']].groupby('Dept', as_index=False) # SOLUTION NO PROMPT
avg_lec_salary = grouped.mean() # SOLUTION NO PROMPT
avg_lec_salary = avg_lec_salary.rename(columns={'Salary': 'Avg_lec_salary'}) # SOLUTION NO PROMPT
professors_dept = instructor.query('Designation == "Professor"') # SOLUTION NO PROMPT
grouped = professors_dept[['Dept', 'Salary']].groupby('Dept', as_index=False) # SOLUTION NO PROMPT
avg_prof_salary = grouped.mean() # SOLUTION NO PROMPT
avg_prof_salary = avg_prof_salary.rename(columns={'Salary': 'Avg_prof_salary'}) # SOLUTION NO PROMPT
result = pd.merge(avg_lec_salary, avg_prof_salary, how='inner', on='Dept') # SOLUTION NO PROMPT
result = np.abs(result['Avg_lec_salary'] - result['Avg_prof_salary']) # SOLUTION NO PROMPT
your_ans = np.array(np.round(result, 2)) # SOLUTION
your_ans

array([13171.18,  1490.07, 12475.12, 18571.33, 27608.77,  5553.81,
         261.08, 25729.43, 32257.67,  7807.68, 14404.2 ,  5813.33,
       22033.  , 29096.86, 25089.7 ,  5442.43, 11586.13,  1082.29,
       22581.4 ])

# END SOLUTION

# BEGIN TESTS

In [21]:
len(your_ans) == 19

True

In [23]:
(np.sort(your_ans)[0]).item() == 261.08

True

# END TESTS

# END QUESTION