In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("Lab03.ipynb")

In [ ]:
import numpy as np
import pandas as pd

Grading Rubric:

| Question | Points |
| ----- |---- |
| 1(a) | 5 |
| 1(b) | 5 |
| 1(c) | 5 |
| 1(d) | 5 |
| 1(e) | 5 |
| 1(f) | 5 |
| 1(g) | 10 |
| 1(g) | 10 |
| Total | 50 |

# Welcome to Lab03.

This Lab03 has two parts. The first part consists of a series of questions in a Jupyter notebook format, while the second part includes handwritten questions uploaded on D2L as a PDF. You are required to complete both sections.

Objectives:
1. Tables (Query, Groupby and Merge)

This dataset contains information on hurricanes that affect the continent of North America. The columns are as follows:

**Year** -*an int*,  the year when hurricane hit

**Name** - *a string*, the name of the hurricane

**Rain Inch** - *a float*,  the amount of rain that fell in inches

**Highest Wind Speed** - *an int*, The highest wind speed achieved by the hurricane

**Damage(USD)** - *a float*, the cost of damage in US dollars

**Fatalities** - *an int*, the amount of deaths

**Areas Affected** - *a string*, the area affected by the hurricane

In [ ]:
hurricanes = pd.read_csv('data/hurricanes.csv')
hurricanes.head(3)

### Question 1a [5 points]

Verify whether there are any columns in the dataframe that contain missing values. Your answer should return either True or False.

Hint: Utilize `DataFrame.isna()` to identify cells with missing values, and `DataFrame.isna().any()` to determine if any values in a column are missing.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1a")

### Question 1b [5 points]

Write a python code to drop rows with missing values.

In [ ]:
hurricanes = ...
hurricanes.head(3)

In [ ]:
grader.check("q1b")

### Question 1c [5 points]


Find the hurricane name that resulted in the highest number of fatalities.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1c")

### Question 1d [5 points]

Create a new dataframe called `hurricane_normalized` that includes the `name` column and a `norm_rain` column, where `name` represents the hurricane's name and `norm_rain` is the normalized amount of rainfall in inches.

To normalize a column, use the formula:

$$z = \frac{x-\mu}{\sigma}$$

where,
- $x$ is the value from the column,
- $\mu$ is the mean of the values in that column,
- $\sigma$ is the standard deviation of the values in that column, 
- $z$ is the normalized value for that column.

In [ ]:
mu_rain = np.mean(hurricanes['Rain Inch.']) # calculates the mean of the column
sigma_rain = np.std(hurricanes['Rain Inch.']) # calcualtes the standard deviation of the column 

hurricanes_normalized = pd.DataFrame({ 
                            ...
                        })


hurricanes_normalized.head(3)

In [ ]:
grader.check("q1d")

### Question 1e [5 points]

You have access to another table called `cat`, which includes hurricane categories.

How many hurricanes in the dataset were classified as **Category 1**?

In [ ]:
cat = pd.read_csv('data/cat.csv')
cat.head(3)

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1e")

### Question 1f [5 points]

Find an **array of names** of Category 5 hurricanes that occurred in the year 2017.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1f")

### Question 1g [10 points]

Find the year that recorded the highest number of fatalities due to hurricanes. (Assume there is only one)

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1g")

#### Apply a function to a column of a dataframe or pandas series

In data analysis, we often need to modify our columns for improved insights. For example, let's enhance the `Name` column of the hurricanes data table by prefixing each hurricane name with the word **Hurricane**. So, `Debby` would become `Hurricane Debby`.

To perform this type of column transformation, we can create a function that takes each value of the column as an input, applies the transformation within the function, and returns the modified value. We can then use the `map` method to apply this transformation function to the dataframe column.

In [ ]:
def convert_names(name):
    return "Hurricane " + name

In [ ]:
hurricanes['Name'].map(convert_names)

### Question 1h [10 points]

Write a python code that returns **an array of names** for hurricanes that impacted the state of Texas.

Hint: 
1. Utilize `map` method
2. Search for the keyword **Texas** within the values of the `Affected Areas` column. Refer to the **Check String** section in the DataStructures.ipynb notebook discussed earlier in class.

In [ ]:
def isTexasAffected(region):
    ...

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1h")