In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("HW2.ipynb")

In [ ]:
import pandas as pd
import numpy as np

**Due data:  3 March by 11:59 pm**

Rubric: 
| Question | Points | 
| ---- | --- |
| 1(a) | 10 |
| 1(b) | 10 |
| 1(c) | 10 |
| 1(d) | 10 |
| 2(a) | 10 |
| 2(b) | 10 |
| 2(c) | 10 |
| 2(d) | 10 |
| 2(e) | 10 |
| 2(f) | 10 |
| Total | 100 |

Instructions: 

1. Please upload your notebook (.ipynb) file to D2L under HW >> HW2 Dropbox.
2. The homework assignment is meant to be completed individually. Do not share or copy code with others, as violations will result in consequences outlined in the syllabus.
3. Passing the autograder test does not guarantee that your answer is correct. Be sure to answer questions carefully, as the instructor has additional hidden tests. Full points will only be awarded if your answers pass these tests during grading.
4. If you encounter any difficulties, don't hesitate to contact me for assistance.

Objectives: To practice and learn about the following topics:
1. Numpy
2. Tables

# 1. Numpy

A numpy array of integers, named `gotham` contains the rough population of the Gotham city for every 10 years from 1900 to 2020. It has total 13 items. 

```
array([305500, 393300, ..., 25241897, 29217653])
```

Write a python code to answer the following:

<!-- BEGIN QUESTION -->

### Question 1(a)

What is the population in the year 2000?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Question 1(b)

The population change from 1930 to 1950. You should only show the change, expressed as number of persons. (Not as proportion or percentage change). 

That is, population change from 1930 to 1950 will be the `population in 1950 - population in 1930`.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Question 1(c)

Find if the population ever increased by less than 500,000 in a decade. 

Note: Your answer should contain python expression which returns true or false. (Do not write True or False directly by yourself)

Hint: Use `np.diff` method

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Question 1(d)

Find the number of items in `gotham` that are atleast twice as large as the population in 1950.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

# 2. Tables

### Question 2

A table named `instructor` contains one row for each SFA faculty member and these columns:
- **Dept**: a string, the department of the faculty member
- **Name**: a string, the first name fo the faculty member
- **Designation**: a string, one of: Lecturer, Assitant Professor, Associate Professor, or Professor
- **Salary**: an int, last year's salary paid by the university

Write a python code to answer the following questions:

In [ ]:
instructor = pd.read_csv('data/instructor.csv')
instructor.head(3)

### Question 2(a)
The total salary amount paid to all faculty by the university last year.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q2(a)")

### Question 2(b)

The name of the second highest paid faculty member. (Assume no two faculty have the same salary)

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q2(b)")

### Question 2(c)

The name of the department that has the most lecturers. (Assume one department has more than the rest)

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q2(c)")

### Question 2(d)

The average faculty salary after all instructors get a 10% raise in the present year. Round your answer upto two decimal points.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q2(d)")

### Question 2(e)

Find the departments which have both Lecturers and Professors. Your answer should return a **numpy array** of departments.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q2(e)")

### Question 2(f)

Find the absolute difference between a department's average **Lecturer** salary and its average **Professor** salary. Round the absolute differences upto two decimal points. Your answer should be a **numpy array**. 
If a department don't have both, then simply drop those departments. 

Hint: For absolute difference, look into the numpy method `absolute` online here: [np.absolute documentation](https://numpy.org/doc/stable/reference/generated/numpy.absolute.html)

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q2(f)")